/*!
 * 
 *         Build Date: 2024. 5. 21. 오후 4:55:44
 *         Commit Version: 2d6066c
 * 
 *         Author: Bae Ji-min
 * 
 *       
 */
@import url(https://webfontworld.github.io/score/SCoreDream.css);
@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css);
:root {
  /* FOUNDATION */
  --primary: #00A8B0;
  --secondary: #ACDEE1;
  --tertiary: #F2FAFB;
  --accent: #276EF1;
  --negative: #E11900;
  --warning: #FFC043;
  --positive: #048848;

  /* CONTENTS */
  --black: #000;
  --gray500: #333;
  --gray400: #666;
  --gray300: #999;
  --gray200: #EEE;
  --gray100: #FAFAFA; 
  --white: #FFF;

  /* BORDER */
  --border01: #DDD;
  --border02: #D9D9D9;
}
/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    width: 100%;
    height: 100%;
}
button {
    border: 0;
    background-color: transparent;
}
/* FLOAT CLEARFIX */
.clearfix::after{
    content:"";
    display:block;
    clear:both
}
.clearfix {
    *zoom: 1;
}

/* COMMON */
html, body {
    width: 100%;
}

body {
    --max: 480px;
    --textOverFlow: ellipsis;
    --overflow: hidden;
    --display: -webkit-box;
    font-family: 'SCoreDream', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: -0.65px;
}
.sr-only {
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip-path: inset(50%);
    -webkit-clip-path: inset(50%);
    clip: rect(0,0,0,0);
    position: absolute!important;
}
.flexbox {
    display: flex;
    align-items: center;
}
h1 {
    font-size: 16px;
    font-weight: 700;
}
h2 {
    font-size: 17px;
    font-weight: 600;
}
.discription {
    font-size: 11px;
    color: var(--gray400);
    font-weight: 400;
}
.title {
    margin-bottom: 16px;
}
.line1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.line2 {
    text-overflow: var(--textOverFlow);
    overflow: var(--overflow);
    word-break: break-word;
    display: var(--display);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}
.line3 {
    text-overflow: var(--textOverFlow);
    overflow: var(--overflow);
    word-break: break-word;
    display: var(--display);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}

.bold-border {
    position: relative;
    border-bottom: 10px solid var(--gray100);
}
.bold-border::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--gray200);
}
.h56 {
    padding-top: 56px;
}

/* LAYOUT */
.inner {
    position: relative;
    padding: 0 20px; 
}
.ly-section {
    margin: 0 34px;
}
.section {
    margin: 34px 0;
}

/* BUTTON */
.btn {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
}
.btn--primary {
    background-color: var(--primary);
}
.btn--primary[disabled] {
    background-color: var(--secondary);
}
.btn--line {
    border: 1px solid var(--border01);
    color: var(--primary);
}
.input[readonly],
select[disabled] {
    background-color: var(--gray100);
}
select {
    -webkit-appearance: none;
    appearance: none;
    background: url(assets/ico-select-arrow.png?bc2cce979b4369a21d9bf2ab0d5b3a82)no-repeat center/22px auto;
	background-position: 98% center;
	background-repeat: no-repeat;
	outline: none;
}
.clear {
    display: none;
}

/* INPUT */
.input {
    display: block;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    border: 1px solid var(--border01);
    border-radius: 7px;
    box-sizing: border-box;
}
.input-box {
    margin-bottom: 24px;
}
.input-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}
.input-box label .require {
    margin-left: 4px;
    color: var(--primary);
    font-size: 14px;
}
.input-box textarea.input {
    padding: 14px;
    height: 296px;
    max-height: 296px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.5px;
    color: var(--gray300);
    resize: none;
}
.input--login {
    background-color: var(--gray100);
}
.input:focus {
    border-color: var(--primary)!important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(81,167,232,.5);
}
.input::-webkit-input-placeholder { 
    color: var(--gray400);
}
.input:-ms-input-placeholder { 
    color: var(--gray400); 
}
.input::-moz-placeholder { 
    color: var(--gray400);
}
input[type="radio"],
input[type="checkbox"] {
    display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
    position: relative;
}
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    content: '';
    margin-right: 8px;
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px solid var(--border01);
    vertical-align: middle;
}
input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 6px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    transform: translateY(-50%);
}
.select-box {
    position: relative;
    min-height: 50px;
    height: 50px;
    overflow: hidden;
}
.select-box.active {
    height: auto;
}
.select-box img {
    position: absolute;
    right: 14px;
    width: 12px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}
.input .placeholder {
    color: var(--gray400);
    font-size: 12px;
    line-height: 50px;
}

/* HEADER */
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--white);
    height: 56px;
    line-height: 56px;
    z-index: 10;
}
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 1px 0 3px rgba(0,0,0,.075);
}
.header--title {
    text-align: center;
    font-size: 16px;
}
.header--main {
    text-align: center;
}
.header--main .inner {
    justify-content: center;
}
.header--main .logo img {
    height: 20px;
    margin-right: 8px;
    vertical-align: sub;
}
.header--main .logo-sub {
    font-size: 13px;
    font-weight: 500;
    color: var(--primary);
    text-decoration: underline;
}
.header--detail {
    position: relative;
}
.header--detail .inner {
    height: inherit;
}
.header .header--left {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.header a.btn--return {
    display: block;
    width: 24px;
    height: 24px;
}
.header--left a.btn--return img {
    object-fit: cover;
    vertical-align: top;
}
.header .header--right {
    position: absolute;
    right: 16px;
    display: flex;
    top: 0;
}
.header .header--right a {
    display: block;
    margin-left: 16px;
}
.header .header--right a img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* LIST CARD */
.list-card a {
    gap: 0 16px;
    border: 1px solid var(--border01);
    border-radius: 7px;
    padding: 14px 12px;
    background-color: var(--gray100);
}
.list-card:not(:last-of-type) a {
    margin-bottom: 12px;
}
.list-card .list-card--img {
    position: relative;
    max-width: 105px;
    height: 105px;
    flex: 1 0 105px;
    overflow: hidden;
    border-radius: 7px;
}
.list-card--img figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    color: var(--white);
    z-index: 1;
    margin-bottom: 4px;
}
.list-card .list-card--img::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,.5);
    border-radius: 0 0 7px 7px;
}
.list-card .list-card--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.list-card-content {
    flex: 1 0 0;
    font-size: 14px;
    font-weight: 400;
}
.list-card-content h3 {
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 8px;
    font-family: inherit;
}
.list-card-content span {
    display: block;
}
.list-card-content .con-tel {
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 16px;
    font-family: inherit!important;
}
.list-card-content .con-state {
    font-size: 12px;
    color: var(--gray500);
    font-weight: inherit;
    margin-bottom: 8px;
}
.list-card-content .con-desc {
    font-size: 12px;
    line-height: 1.5;
    color: var(--gray400);
    display: -webkit-box;
}

/* NAV */
.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.nav-bar--bottom {
    position: relative;
    height: 65px;
    background-color: #fff;
}
.nav-bar--bottom li {
    text-align: center;
    width: 25%;
    font-size: 12px;
}
.nav-bar--bottom li:nth-of-type(2){
    margin-right: 40px;
}
.nav-bar--bottom li:nth-of-type(4) {
    margin-left: 40px;
}
.nav-bar--bottom li.order {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.nav-bar--bottom li.order img {
    display: block;
    width: 92px;
    height: 93px;
}
.nav-bar--bottom li a {
    display: block;
    text-align: center;
    color: #717171;
}
.nav-bar--bottom li a.active {
    color: var(--black);
    font-weight: 500;
}
.nav-bar--bottom li a img {
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto 4px;
}

/* TABMENU */
.tabmenu {
    height: 42px;
    justify-content: center;
    border-bottom: 1px solid  var(--border01);
    margin-bottom: 0;
}
.tabmenu li {
    width: 50%;
    text-align: center;
}
.tabmenu li::after {
    content: '';
    display: none!important;
}
.tabmenu li.active a {
    color: var(--primary)!important;
}
.tabmenu li.active a::after {
    content: '';
    display: block;
    width: 100%;
    border: 2px solid var(--primary);
}

.filter-btn {
    margin-bottom: 20px;
    height: 28px;
    display: flex;
    align-items: center;
}
.filter-btn input {
    display: none;
}
.filter-btn input + label {
    margin-right: 8px;
    border: 1px solid var(--gray300);
    background-color: var(--gray100);
    color: var(--gray300);
    padding: 6px;
    border-radius: 6px;
    font-family: 'S-Core Dream 3';
    font-size: 12px;
    display: block;
}
.filter-btn input:checked + label {
    border-color: var(--primary);
    background-color: var(--white);
    color: var(--primary);
    font-family: 'S-Core Dream 6';
}
.filter-btn input + label::before,
.filter-btn input:checked + label::after {
    display: none;
}


/* QNA LIST */
.qna--list li:last-of-type {
    border-bottom: 1px solid var(--border01);
}
.qna--list li {
    border-top: 1px solid var(--border01);
}
.qna--list .question {
    position: relative;
    padding: 20px 14px;
    background-color: var(--white);
    line-height: 1.5;
    padding-right: 40px;
}
.qna--list .question::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    width: 12px;
    height: 10px;
    background: url(assets/aco_arrow.png?4e3bb373ae2567e1002152b56662d846)no-repeat center/12px auto;
}
.qna--list li .count {
    counter-reset: list-counter;
}

.qna--list .answer {
    display: none;
    line-height: 1.5    ;
    border-top: 1px solid var(--border01);
    padding: 20px 14px;
    background-color: var(--gray100);
}
.qna--list .answer p {
    margin-bottom: 40px;
}
.qna--list .answer span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.qna--list .answer a {
    display: block;
    text-align: center;
    color: var(--primary);
}
.qna--list .answer a::before {
    content: '';
    display: inline-block;
    background: url(assets/customer.png?09e6b0222a822455e0f87801cfbc405f)no-repeat center/14px auto;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.qna-accordion__item.active .panel-top::after {
    transform: rotate(-180deg) translateY(-50%);
    /* transition: transform .1s; */
    top: 30%;
}
.qna-accordion__item.active .panel-body {
    display: block;
}
.qna-accordion__item .panel-top.active {}

/* 1:1 */
.top--input {
    padding-bottom: 20px;
}
.top--input .input-wrap {
    position: relative;
}
.top--input .input-wrap input {
    position: absolute;
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 5   0px;
    left: 0;
    padding: 0 60px 0 14px;
    box-sizing: border-box;
}
.top--input .input-wrap button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    width: 24px;
    height: 24px;
}
.top--input .input-wrap img {
    width: 24px;
    height: 24px;
}
.question-regist {
    margin-bottom: 20px;
    border-top: 1px solid var(--border01);
    border-bottom: 1px solid var(--border01);
}
.question-regist.none-question {
    min-height: 130px;
    max-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-btn {
    float: right;
    width: 87px;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    text-align: center;
}

.swiper.section {
    position: relative;
    border-top: 10px solid var(--gray100);
    padding-top: 34px;
}
.swiper.section::after {
    content: '';
    position: absolute;
    top: -10px;
    display: block;
    width: 100%;
    border-top: 1px solid black;
}

.write--form {
    padding-top: 86px;
}
.discription {
    margin-top: 20px;
    display: block;
    color: var(--gray300);
    line-height: 1.5;
}
.write--form .input-box textarea {
    max-height: 160px;
}
.question-regist li {
    position: relative;
}
.question-regist li .count {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--border01);
    font-size: 17px;
    font-family: 'S-Core Dream 5';
}
.question-regist li:not(:last-of-type) {
    border-bottom: 1px solid var(--border01);
}
.question-regist li.pick {
    background-color: var(--gray100);
}
.question-regist li.pick .pick-pin {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: url(assets/pick.png?142d1db85e56378c172732c1141406c8)no-repeat center/22px auto;
    width: 22px;
    height: 22px;
}
.question-regist .question {
    padding: 16px 16px 16px 52px;
}
.question-regist .question h3 {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
}
.question-regist .question .write-date {
    font-size: 12px;
    color: var(--gray400);
}
.question-regist .question .answer-state::after {
    content: '답변대기';
    border-radius: 3rem;
    width: 58px;
    height: 22px;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 4px 6px;
    box-sizing: border-box;
    font-size: 12px;
}
.question-regist .question.complate .answer-state::after {
    content: '답변완료';
    background-color: var(--primary);
    color: var(--white);
}
.question-regist li .answer {
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    border-top: 1px solid var(--border01);
    background-color: var(--gray100);
}
.question-regist li .answer p {
    color: var(--gray400);
}

.qna-detail {
    padding: 86px 0;
}
.qna-detail .detail-top {
    position: relative;
    padding: 16px 14px 16px 38px;
    border-top: 1px solid var(--border02);
    border-bottom: 1px solid var(--border02);
}
.qna-detail .detail-top::before {
    position: absolute;
    left: 14px;
    content: 'Q';
    font-size: 20px;
    font-weight: 700;
}
.answer-top h2,
.detail-top--title h2 {
    line-height: 1.5;
    font-family: 'S-Core Dream 5';
    font-size: 16px;
    margin-bottom: 18px;
}
.detail-top--title .write-date {}

.detail-content {
    padding: 24px 14px 24px 38px;
}
.answer-content p ,
.detail-content p {
    line-height: 1.5;
    font-size: 14px;
    color: var(--gray400);
}
.list-btn {
    margin-top: 34px;
    display: block;
    line-height: 60px;
    text-align: center;
}

.answer-top {
    padding: 16px 14px 16px 38px;
    background-color: var(--gray100);
}
.answer-top .inner {
    position: relative;
}
.answer-top .inner::before {
    content: 'A';
    position: absolute;
    left: 0;
    font-size: 20px;
    font-family: 'S-Core Dream 7';
    color: var(--primary);
}
.answer-content {
    padding: 24px 14px 24px 38px;
    line-height: 1.5;
    background-color: var(--gray100);
}

/* NOTICE */
.content-container .notice--content {
    display: block;
}

.notice-detail {
    padding-top: 86px;
}
.notice-detail .notice-top {
    padding-left: 16px;
}
.notice-detail .notice-top::before {
    content: '';
    display: none;
}
.notice-content {
    padding-left: 16px!important;
}

/* CUSTOMER */
.cst-qna,
.cst-wrap {
    position: relative;
    padding-bottom: 34px;
    border-bottom: 10px solid var(--gray100);
}
.cst-qna::after,
.cst-wrap::after {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 1px solid var(--border01);
    bottom: 0;
    left: 0;
    width: 100%;
}
.cst--title {
    justify-content: space-between;
    margin-bottom: 12px;
}
.tab .cst--title h2 {
    margin-bottom: 0;
}
.cst--title a span {
    color: var(--primary);
}

.cst-qna {
    padding: 34px 0;
}
.cst-qna h2 {
    margin-bottom: 12px;
}
.cst-qna--list li {
    justify-content: space-between;
    align-items: flex-start;
}
.cst-qna--list li:not(:last-of-type) {
    margin-bottom: 20px;
}
.cst-qna--list li a.btn {
    width: 70px;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    text-align: center;
}
.cst-qna--list li .list-left {
    flex: 1 0 70%;
}
.cst-qna--list li .list-left h3 {
    font-size: 14px;
    font-family: 'S-Core Dream 5';
    line-height: 1.5;
    margin-bottom: 4px;
}
.cst-qna--list li .list-left h3 span {
    color: var(--primary);
}
.list-left .desc {
    color: var(--gray400);
    font-size: 11px;
}

.cst-notice {
    padding: 34px 0;
}

/* FOOTER */
.footer {
    background-color: var(--gray500);
    color: var(--white);
    line-height: 1.5;
    font-size: 14px;
}
.footer .inner {
    padding-top: 24px;
    padding-bottom: 135px;
}
.footer .footer-logo {
    margin-bottom: 20px;
    width: 142px;
    height: 17px;
    background-color: var(--white);
    -webkit-mask: url(assets/logo.svg?b467f1d966dceb5cb9b42eaca316f82f) no-repeat center/142px auto;
    mask: url(assets/logo.svg?b467f1d966dceb5cb9b42eaca316f82f) no-repeat center/142px auto;
}
.footer .footer-logo img {
    width: 142px;
    fill: var(--white);
}
.footer article {
    margin-top: 34px;
    line-height: 1.6;
}
.footer article h3 {
    font-weight: 500;
}
.footer article h3 a {
    color: var(--white);
    font-size: 12px;
    font-family: inherit;
}
.footer article dl dt,
.footer article dl dd {
    font-weight: 300;
    opacity: .7;
}
.footer {
    margin-top: 34px;
}
.footer dl dt {
    margin-right: 20px;
    font-weight: 500;
}
.footer dl dd {
    font-weight: 400;
}
article h3 span {
    font-size: 12px;
}
.footer-info dl dt {
    flex: 0 0 55px;
}
.footer-info dl dt,
.footer-info dl dd {
    opacity: 1!important;
}
.entre-info {
    line-height: 1.6;
}
.entre-info dl dt,
.entre-info2 dl dt,
.entre-info dl dd {
    font-weight: 300;
    font-size: 12px;
}
.footer address {
    font-size: 12px;
    font-weight: 300;
    opacity: .7;
}
.footer-notice {
    margin-top: 18px;
    font-size: 12px;
    font-weight: 300;
    opacity: .7;
}
.footer--line-logo {
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.footer--line-logo h4 {}
.footer--line-logo img {
    width: 93px;
}
.footer-shortcut {
    color: var(--white);
    margin: 16px 0;
}
.footer-shortcut li:first-of-type::after {
    content: '';
    display: inline-block;
    border-right: 1px solid var(--white);
    height: 10px;
    padding-left: 10px;
    margin-right: 10px;
}
.footer-shortcut li a {
    color: inherit;
    font-size: 12px;
}
.footer .copyright {
    font-size: 12px;
    font-weight: 300;
    opacity: .7;
}

/* POPUP  */
.main-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
}
.main-popup .popup-inner {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}
.main-popup .swiper {
    margin: 0;
}
.main-popup .popup-body {
    border-radius: 28px 28px 0 0;
    overflow: hidden;
}
.main-popup .popup-footer {
    background-color: var(--white);
    padding: 20px;
    gap: 12px;
}
.main-popup .popup-footer button,
.main-popup .popup-footer a {
    display: block;
    width: 50%;
    height: 38px;
    font-size: 13px;
    border-radius: 7px;
}
.main-popup .popup-footer button.hide-24 {
    border: 1px solid var(--border01);
    color: var(--primary);
}
.main-popup .popup-footer a.close {
    background-color: var(--primary);
    color: var(--white);
    line-height: 38px;
    text-align: center;
}
.popup-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
}
.main-popup-bg {
    display: block;
}
.popup-bg {
    display: none;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 24px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    min-width: 320px;
    box-sizing: border-box;
    max-width: 320px;
    border-radius: 7px;
    z-index: 20;
}
.popup .popup-header {
    justify-content: space-between;
}
.popup .popup-header img {
    width: 24px;
    height: 24px;
}
.popup .popup-body {
    padding: 56px 0 50px;
}
.popup .popup-body p {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}   
.popup-footer .confirm {
    height: 38px;
}

.popup-slideup {
    position: fixed;
    bottom: -100%;
    background: #fff;
    left: 0;
    right: 0;
    padding: 20px 16px 16px;
    z-index: 20;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
}
.popup-slideup ul li {
    padding: 10px 0;
}
.popup-slideup ul li span {
    font-size: 14px;
    display: inline-block;
}
.color-select ul li span:first-of-type {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.color-select ul li {
    display: flex;
    align-items: center;
    gap: 14px;
}
.color-select ul li span.all {
    background-color: var(--white);
    border: 1px solid var(--border01);
}
.color-select ul li span.gray {
    background-color: #bbb;
}
.color-select ul li span.red {
    background-color: #CB2E66;
}
.color-select ul li span.orange {
    background-color: orange;
}
.color-select ul li span.blue {
    background-color: #4274D4;
}
.color-select ul li span.green {
    background-color: #2CC082;
}
.color-select ul li span.brown {
    background-color: #B06E48;
}
.color-select ul li span.black {
    background-color: black;
}
.color-select .popup-title {
    justify-content: space-between;
    align-items: center;
}
.color-select .popup-title .close img {
    width: 24px;
    height: 24px;
}

.popup-memo {
    width: 100%;
    display: none;
}
.popup-memo .memo-header {
    justify-content: space-between;
    margin-bottom: 16px;
}
.popup-memo .memo-header button {
    background: url(assets/ico-clear.png?d1b4ed52e7da646e4d445b5df11abf14)no-repeat center/20px auto;
    text-indent: -99999px;
}
.popup-memo h3 {
    font-weight: 700;
    font-size: 15px;
}
.popup .user-info {
    gap: 20px;
}
.popup .user-info:first-of-type {
    margin-bottom: 10px;
}
.popup div.user-info:nth-of-type(2) {
    margin-bottom: 20px;
}
.popup .user-info input {
    border: 0;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
}
.popup .user-info input + label {
    font-size: 14px;
    font-weight: 300;
}
.popup-memo form textarea {
    width: 100%;
    height: 314px;
    resize: none;
    border: 1px solid var(--border01);
    border-radius: 7px;
    background-color: var(--gray100);
    padding: 16px;
    box-sizing: border-box;
    line-height: 1.5;
}
.popup-memo form .memo-btns {
    gap: 10px;
    margin-top: 34px;
}
.popup-memo form .memo-btns button {
    height: 38px;
    width: 50%;
    font-size: 13px;
}
.popup-memo form .memo-btns .cancel-btn {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--border01);
}
.popup-memo form .memo-btns .save-btn {
    background-color: var(--primary);
}
.popup-qna h4 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 4px;
}
.popup-qna h4 strong {
    color: var(--negative);
}
.popup-qna span.desc {
    font-size: 13px;
    font-weight: 300;
}
.popup-qna .user-info:nth-of-type(2) {
    margin-bottom: 10px!important;
}
.popup-qna .user-info:nth-of-type(3) {
    margin-bottom: 20px;
}

/* SWIPER */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet {
    background-color: #fff!important;
    opacity: 1!important;
}
.swiper-pagination-bullet-active {
    background-color: var(--primary)!important;
}

/* TOP BUTTON */
#top-btn {
    position: fixed;
    bottom: 79px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: none;
    opacity: .8;
    z-index: 9;
}
#top-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.partner-btn {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 15px;
    width: 60px;
    z-index: 9;
}
.partner-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TAB MENU */
.tab-container {
    justify-content: space-between;
    height: 40px;
    margin-bottom: 16px;
    padding-top: 56px;
}
.tab-container__item {
    color: var(--gray100);
    font-weight: 400;
    height: inherit;
}
.tab-container__item.active::after {
    content: '';
    display: block;
    color: var(--black);
    font-weight: bold;
    border-bottom: 2px solid var(--black);
}
.tab-container__item.active .tab-container__item--title {
    color: var(--black);
    font-weight: bold;
    transition: color 0.4s ease-in-out;
}
.tab-container__item--title {
    display: inline-block;
    height: inherit;
    line-height: 40px;
}
.content-container__content {
    display: none;
}
.content-container__content.target {
    display: block;
}
.content-container__content.none-order.target {
    display: flex;
}
.content-container__content.none-order {
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
/* CALENDAR */
.calendar {
    width: 100%;
}
.calendar .month {
    justify-content: center;
    margin-bottom: 14px;
    font-weight: 500;
}
.calendar .month--prev {
    transform: rotate(90deg);
    margin-right: 20px;
    margin-bottom: 0;
}
.calendar .month--prev img {
    width: 16px;
}
.calendar .month--next {
    transform: rotate(-90deg);
    margin-left: 20px;
    margin-bottom: 0;
}
.calendar .month--next img {
    width: 16px;
}
.calendar .day-top {
    height: 35px;
    min-height: 35px;
    border-top: 1px solid #BBB;
    font-weight: 500;
    background-color: var(--gray100);
}
.calendar .day-btm {
    padding: 15px 0 0;
    min-height: 50px;
    align-items: flex-start;
    box-sizing: border-box;
}
.calendar .day li {
    width: 14.3%;
    text-align: center;
}
.calendar .day li span {
    display: block;
    line-height: 1.5;
}
.calendar .day li.before span,
.calendar .day li.after span {
    color: var(--gray300);
}
.calendar .day li span:not(:first-of-type) {
    display: block;
    font-size: 12px;
    color: var(--white);
    border-radius: 3rem;
    margin-bottom: 2px;
}
.calendar .day li span:nth-of-type(2) {
    margin-top: 10px;
}
.tel {
    background-color:#333;
}
.visit {
    background-color:#CB2E66;
}
.move {
    background-color: #4274D4;
}
.re {
    background-color: #2CC082;
}
/* .soldout {
    background-color: var(--gray500);
} */
.scd-form{padding-top:86px;padding-bottom:34px}.scd-form h2{font-size:14px;font-weight:700;margin-bottom:12px}.select-chk{display:flex;flex-wrap:wrap}.select-chk>div:nth-of-type(-n+2){width:50%}.select-chk>div{width:100%}.select-chk .scd-input{width:100%;height:38px}.input-box label{font-weight:500}.scd-flex{display:flex}.scd-flex label{flex:0 0 70px;margin:0}.scd-flex select:first-of-type{margin-right:12px}.scd-textarea{resize:none;width:100%;height:160px;border-radius:7px;border:1px solid var(--border01);padding:16px;box-sizing:border-box}.scd-btns{display:flex;font-size:13px;gap:12px}.scd-btns a.list-btn{height:38px;border:1px solid var(--border01);color:var(--primary);font-size:inherit;text-align:center;line-height:38px;box-sizing:border-box}.scd-btns button.regi-btn{height:38px;font-size:inherit}.est--list{padding-top:86px}.memo{line-height:1.5}.est-input{height:38px !important;padding:0 !important}.est-title{margin-bottom:10px;font-size:14px}.est-title.blue{color:#4274D4}.est-title.red{color:#CB2E66}.est-title.green{color:#2CC082}.est-box-top{justify-content:space-between;align-items:flex-end}.del-btn{width:70px;height:26px;font-size:13px;border:1px solid var(--border01);color:var(--primary);flex:0 0 70px}.order-date{margin:0 !important}.est-box.mt34{margin:34px 0;padding-bottom:34px}input#dateSelect{-webkit-appearance:none;appearance:none;background:url(assets/ico-date.png?88e497982d813793a4678675bd2a665b) no-repeat 96%/23px auto}

