<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container">
    <header class="header header--main">
        <div class="inner flexbox">
            <h1 class="logo">
                <img src="../assets/logo.svg" alt="우리동네홈서비스">
            </h1>
            <span class="logo-sub">파트너</span>
        </div>
    </header>

    <nav class="nav">
        <ul class="nav-bar--bottom flexbox">
            <li>
                <a href="/" class="active">
                    <img src="../assets/nav/nav-btn1-on.png" alt="홈">
                    <span>홈</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="../assets/nav/nav-btn2.png" alt="일정관리">
                    <span>일정관리</span>
                </a>
            </li>
            <li class="order">
                <a href="/">
                    <img src="../assets/nav/nav-btn-order.png" alt="오더관리">
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="../assets/nav/nav-btn3.png" alt="마감관리">
                    <span>마감관리</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../assets/nav/nav-btn4.png" alt="마이페이지">
                    <span>MY</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="top-btn">
        <img src="../assets/top-btn.png" alt="맨위로">
    </div>

    <a href="javascript:void(0)" class="partner-btn">
        <img src="../assets/float-btn.png" alt="파트너지원">
    </a>

    <!-- MAIN NOTICE -->
    <section class="notice list-template h56">
        <div class="inner section">
            <div class="notice--title flexbox title">
                <h2>공지사항</h2>
                <a href="./notice.html">더보기 <span class="more">+</span></a>
            </div>

            <ul class="notice--list list-content">
                <li class="pick">
                    <a href="./notice-detail.html">
                        <span class="list-title line1">우리동네 파트너 등록을 축하드립니다!!
                        </span>
                        <span class="description">2032.12.13 (화)</span>
                    </a>
                </li>
                <li class="new">
                    <a href="./notice-detail.html">
                        <span class="list-title line1">급지 별 오더비 변경 안내</span>                        </span>
                        <span class="description">2032.12.13 (화)</span>
                    </a>
                </li>
                <li class="normal">
                    <a href="./notice-detail.html">
                        <span class="list-title line1">이사 고객 상담가이드를 업로드 하였습니다</span>                        </span>                        </span>
                        <span class="description">2032.12.13 (화)</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Swiper -->
    <section class="swiper mySwiper section">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../assets/banner.png" alt="행복한 이사를 위한 선택 우리동네 홈서비스">
            </div>
            <div class="swiper-slide">
                <img src="../assets/banner.png" alt="행복한 이사를 위한 선택 우리동네 홈서비스">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>

    <!-- ORDER -->
    <section class="notice list-template section">
        <div class="inner">
            <div class="notice--title flexbox title">
                <h2>오더관리</h2>
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/order.html">더보기 <span class="more">+</span></a>
            </div>

            <ul class="tab-container flexbox tab-border">
                <li class="tab-container__item active" data-tab="tab1">
                  <a class="tab-container__item--title" href="javascript:void(0)">전체(3)</a>
                </li>
                <li class="tab-container__item" data-tab="tab2">
                  <a class="tab-container__item--title" href="javascript:void(0)">상담대기(0)</a>
                </li>
                <li class="tab-container__item" data-tab="tab3">
                  <a class="tab-container__item--title" href="javascript:void(0)">견적완료(0)</a>
                </li>
                <li class="tab-container__item" data-tab="tab4">
                  <a class="tab-container__item--title" href="javascript:void(0)">견적취소(0)</a>
                </li>
            </ul>
            <!-- 주문된 내용이 없을시 none-order 클래스 추가하시면 됩니다 style맞춰놓았습니다 -->
            <section class="content-container">
                <article id="tab1" class="content-container__content target">
                    <ul class="notice--list order--list list-content">
                        <li>
                            <a href="/">
                                <div class="list-title line1 flexbox">
                                    <span>고길동</span>
                                    <span>010-1234-1234</span>
                                </div>
                                <div class="list-btm flexbox">
                                    <span class="description">2032.12.13 (화) 17:30:21</span>
                                    <span class="est-complet">견적완료</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <div class="list-title line1 flexbox">
                                    <span>고길동</span>
                                    <span>010-1234-1234</span>
                                </div>
                                <div class="list-btm flexbox">
                                    <span class="description">2032.12.13 (화) 17:30:21</span>
                                    <span class="est-complet">견적완료</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                <div class="list-title line1 flexbox">
                                    <span>고길동</span>
                                    <span>010-1234-1234</span>
                                </div>
                                <div class="list-btm flexbox">
                                    <span class="description">2032.12.13 (화) 17:30:21</span>
                                    <span class="est-complet">견적완료</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </article>
                <article id="tab2" class="content-container__content none-order">
                    <span>접수된 오더가 없습니다</span>
                </article>
                <article id="tab3" class="content-container__content none-order">
                    <span>접수된 오더가 없습니다</span>
                </article>
                <article id="tab4" class="content-container__content none-order">
                    <span>접수된 오더가 없습니다</span>
                </article>
            </section>

        </div>
    </section>

    <!-- LIST -->
    <section class="list section">
        <div class="inner">
            <h2 class="title">이사 파트너를 위한 서비스</h2>
            <span class="sub">사다리/자재/에어컨-TV/인테리어/청소/중고자동차</span>

            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img ladder">
                        <img src="../assets/list_img.png" alt="우리동네 사다리">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네사다리</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick01" name="pick" checked>
                    <label for="pick01"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img material">
                        <img src="../assets/list_img.png" alt="우리동네 자재">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네자재</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick02" name="pick">
                    <label for="pick02"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
            <article class="list-card">
                <a href="http://avanmall.solutionhosting.co.kr/neiberhood/partner/pages/list-detail.html" class="flexbox">
                    <div class="list-card--img air-tv">
                        <img src="../assets/list_img.png" alt="우리동네 에어컨-TV">
                    </div>
                    <div class="list-card-content">
                        <h3 class="line2">우리동네 에어컨 TV</h3>
                        <span class="con-tel">010-1234-1234</span>
                        <span class="con-state">1/2.5/3.5/5톤 사다리</span>
                        <span class="con-desc line2">안전, 성실,정직 사다리입니다! 30년 이사전문 사다리에요!</span>
                    </div>
                    <input type="checkbox" id="pick03" name="pick">
                    <label for="pick03"></label>
                </a>
            </article>
        </div>
    </section>

    <footer class="footer">
        <div class="inner">
            <h1 class="footer-logo"></h1>
            <article class="footer-info">
                <dl class="flexbox">
                    <dt>고객센터</dt>
                    <dd>1588-6571</dd>
                </dl>
                <dl class="flexbox">
                    <dt>메일</dt>
                    <dd>wedongne@gmail.com</dd>
                </dl>
                <dl class="flexbox">
                    <dt>홈페이지</dt>
                    <dd>https://www.wedongne.com</dd>
                </dl>
            </article>

            <article class="entre-info">
                <h3>(주)우리동네 홈서비스 <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3348103175" target="_blank">사업자정보확인</a></h3>
                <dl class="flexbox">
                    <dt>대표이사</dt>
                    <dd>심재광</dd>
                </dl>
                <dl class="flexbox">
                    <dt>사업자등록번호</dt>
                    <dd>334-81-03175</dd>
                </dl>
                <dl class="flexbox">
                    <dt>통신판매업 신고번호</dt>
                    <dd>제2023-진접오남-0814호</dd>
                </dl>

                <address class="footer-addr">경기도 남양주시 오남읍 진건오남로 912번길 14 2층</address>
            </article>

            <div class="footer--line-logo flexbox">
                <h4>e-성경 익스프레스는<br>우리동네 홈서비스의 자사입니다.</h4>
                <img src="../assets/footer-img.png" alt="">
            </div>

            <article class="entre-info2">
                <h3>e-성경 익스프레스 <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4860901074" target="_blank">사업자정보확인</a></h3>
                <dl class="flexbox">
                    <dt>사업자등록번호</dt>
                    <dd>486-09-01074</dd>
                </dl>
                <dl class="flexbox">
                    <dt>화물자동차운송주선허가증</dt>
                    <dd>제2018-05호</dd>
                </dl>
            </article>

            <div class="footer-notice">(주)우리동네 홈서비스는 온라인 플랫폼 중개자로서 본사가 취급하는 각 지역의 서비스를 파트너사에 제공하는 회사임으로, 거래당사자가 아니며 입점 파트너사가 제공하는 서비스에대한 이행, 계약사항 및 분쟁에 책임지지 않습니다.</div>

            <ul class="footer-shortcut flexbox">
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
            </ul>

            <span class="copyright">COPYRIGHT © 우리동네 홈서비스. ALL RIGHTS RESERVED</span>
        </div>
    </footer>

    <!-- POPUP -->
    <div class="main-popup-bg"></div>
    <section class="main-popup">
        <div class="popup-inner">
            <div class="popup-body">
                <section class="swiper mySwiper4 section">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../assets/main-popup.png" alt="우리동네 홈서비스 팝업배너">
                        </div>
                        <div class="swiper-slide">
                            <img src="../assets/main-popup.png" alt="우리동네 홈서비스 팝업배너">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </section>
            </div>

            <div class="popup-footer flexbox">
                <button id="hide-24" class="btn btn--line">
                    <span>24시간동안 보지 않기</span>
                </button>
                <a href="#" class="btn btn--primary close" data-dismiss="modal">닫기</a>
            </div>
        </div>
    </section>

  </div>
</body>
</html>