<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
  <div class="container">
    <header class="header">
        <div class="inner">
            <h1 class="header--title">업체설정</h1>
            <div class="header--left">
                <a href="javascript:void(0)" class="btn--return">
                    <img src="./assets/return.png" alt="되돌아가기">
                </a>
            </div>
        </div>
    </header>

    <div id="top-btn">
        <img src="./assets/top-btn.png" alt="맨위로">
    </div>
    
    <div class="regist-form move-set">
        <div class="inner">
            <form action="/">
                <div class="input-box">
                    <label for="userId">아이디</label>
                    <input type="text" id="userId" class="input" name="" value="e67637" readonly/>
                </div>

                <div class="input-box">
                    <label for="userPw">비밀번호</label>
                    <input type="password" id="userPw" class="input" value="12345" readonly/>
                </div>

                <div class="input-box">
                    <label for="userPwRe">비밀번호 확인</label>
                    <input type="password" id="userPwRe" class="input" placeholder="비밀번호 확인을 위해 입력해주세요"/>

                </div>
                <div class="input-box">
                    <label for="registName">업체명<span class="require">(필수)</span></label>
                    <input type="text" id="resetName" class="input" name="" placeholder="핸드폰 번호를 입력해주세요" value="e-성경익스프레스" readonly />
                </div>
                <div class="input-box">
                    <label for="compPhone">핸드폰번호</label>
                    <input type="text" id="compPhone" class="input" name="" placeholder="핸드폰번호를 입력해주세요" value="010-1234-1234"/>
                </div>
                <div class="input-box">
                    <label for="registName">이메일</label>
                    <input type="email" id="registName" class="input" name="" placeholder="이메일 주소를 입력해주세요" value=""/>
                </div>
                <div class="input-box">
                    <label for="representName">대표자명<span class="require">(필수)</span></label>
                    <input type="text" id="representName" class="input" name="" placeholder="대표자명을 입력해주세요" value="홍길동"/>
                </div>
                <div class="input-box">
                    <label for="moveHistory">대표자 이사업력<span class="require">(필수)</span></label>
                    <input type="email" id="moveHistory" class="input" name="" placeholder="대표자 이사업력을 입력해주세요" value="30년" readonly/>
                </div>
                <div class="input-box">
                    <label for="addr">업체주소<span class="require">(필수)</span></label>
                    <div class="addr-top">
                        <input type="text" id="sample2_postcode" placeholder="우편번호" class="input post-code-input" readonly>
                        <input type="button" id="post_btn" class="post-btn btn btn--primary btn--regist" onclick="sample2_execDaumPostcode()" value="주소등록">
                    </div>
                    <input type="text" id="sample2_address" placeholder="주소" class="input" readonly>
                    <input type="text" id="sample2_detailAddress" placeholder="상세주소" class="input">
                    <input type="text" id="sample2_extraAddress" placeholder="참고항목" class="input" readonly>

                    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
                    </div>
                </div>
                <div class="input-box">
                    <label for="startYear">서비스 시작년도<span class="require">(필수)</span></label>
                    <select id="startYear" class="input" onFocus="this.initialSelect = this.selectedIndex;" onChange="this.selectedIndex = this.initialSelect;">
                    </select>
                    
                </div>
                <div class="input-box">
                    <label>취급 이사종류<span class="require">(필수, 중복선택가능)</span></label>
                    <div class="select-chk flexbox">
                        <div>
                            <input type="checkbox" name="registState" id="registState01">
                            <label for="registState01">소형이사</label>
                        </div>
                        <div>
                            <input type="checkbox" name="registState" id="registState02">
                            <label for="registState02">가정이사</label>
                        </div>
                        <div>
                            <input type="checkbox" name="registState" id="registState03">
                            <label for="registState03">사무실/공장이사</label>
                        </div>
                        <div>
                            <input type="checkbox" name="registState" id="registState04">
                            <label for="registState04">보관이사</label>
                        </div>
                    </div>
                </div>
                <div class="input-box">
                    <label for="registComp">사업자번호<span class="require">(필수)</span></label>
                    <input type="text" id="registComp" class="input" name="" value="000-00-00000" readonly />
                </div>

                <div class="input-box filebox">
                    <label>사업자등록증<span class="require">(필수)</span></label>
                    <input class="upload-name upload-name2 input" value="license.jpeg" placeholder="선택된 파일 없음" />
                    <input type="file" id="entLicense" onchange="fileChange2()">
                    <label for="entLicense">
                        <a href="./assets/license.jpeg" download class="btn down-btn">다운로드</a>
                    </label>
                </div>
                <div class="input-box filebox">
                    <label>화물 자동차 운송 주선 사업허가증<span class="require">(필수)</span></label>
                    <input class="upload-name upload-name1 input" value="license.jpeg" placeholder="선택된 파일 없음" />
                    <input type="file" id="license" onchange="fileChange()" >
                    <label for="license">
                        <a href="./assets/license.jpeg" download class="btn down-btn">다운로드</a>
                    </label>
                    <span class="desc">* 화물 자동차 운송 주선 사업허가증이 없을 경우,<br>
                        화물 자동차 운송 허가증 또는 화물종사자격증을 첨부해주세요.</span>
                </div>

                <div class="input-box">
                    <label for="carNum">차량대수<span class="require">(필수)</span></label>
                    <select name="" id="carNum" class="input">
                        <option disabled selected>차량대수를 선택해주세요</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="memberNum">직원수<span class="require">(필수)</span></label>
                    <select name="" id="memberNum" class="input">
                        <option disabled>직원수를 선택해주세요</option>
                    </select>
                </div>

                <div class="input-box">
                    <label for="dayWork">1일 업무처리양<span class="require">(필수)</span></label>
                    <select name="" id="dayWork" class="input">
                        <option value="#">10</option>
                    </select>
                </div>

                <div class="m-set flexbox">
                    <div class="m-set--left">
                        <h3>고객센터</h3>
                        <span class="cus-tel">1588-6571</span>
                        <span class="desc">평일(월~금) 09:00 ~ 18:00<br>
                            토/일/공휴일 휴무</span>
                    </div>
                    <a href="tel:1588-6571" class="btn">전화하기</a>
                </div>

                <button type="submit" class="btn btn--primary">수정하기</button>

            </form>
        </div>
    </div>

    <!-- Swiper -->
    <section class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./assets/banner.png" alt="행복한 이사를 위한 선택 우리동네 홈서비스">
            </div>
            <div class="swiper-slide">
                <img src="./assets/banner.png" alt="행복한 이사를 위한 선택 우리동네 홈서비스">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>

  </div>
  
</body>
</html>