<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container">
    <header class="header">
        <div class="inner">
            <h1 class="header--title">공지사항</h1>
            <div class="header--left">
                <a href="javascript:void(0)" class="btn--return">
                    <img src="./assets/return.png" alt="되돌아가기">
                </a>
            </div>

            <div class="header--right">
                <a href="/">
                    <img src="./assets/home.png" alt="홈으로">
                </a>
            </div>
        </div>
    </header>

    <div id="top-btn">
        <img src="./assets/top-btn.png" alt="맨위로">
    </div>

    <div class="qna-detail notice-detail h56 notice-layout">
        <div class="inner">
           
        </div>

        <div class="inner">
            <a href="notice.html" class="btn btn--primary list-btn">목록보기</a>
        </div>
        
    </div>
  </div>
</body>
</html>