<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container date-container">
    <header class="header">
        <div class="inner">
            <h1 class="header--title">마감관리</h1>
        </div>
    </header>

    <nav class="nav">
        <ul class="nav-bar--bottom flexbox">
        </ul>
    </nav>

    <div class="sd-count-box">
        <div class="inner">
        <div>
          <h3>마감권 잔여수 <strong>0</strong>개</h3>
          <p>마감은 월 최대 5개까지 설정하실 수 있습니다.<br>마감으로 설정된 날짜는 오더를 받을 수 없습니다.</p>
        </div>
      </div>
    </div>
    <section class="content-container qna-content">
        <article id="tab1" class="content-container__content target tab">
            <div class="inner">
                <!-- 달력 -->
                <div id="calendar"></div>
            </div>
        </article>
    </section>

    <!-- Swiper -->
    <section class="swiper mySwiper section">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./assets/banner.png" alt="행복한 이사를 위한 선택 우리동네 홈서비스">
            </div>
            <div class="swiper-slide">
                <img src="./assets/banner.png" alt="행복한 이사를 위한 선택 우리동네 홈서비스">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>

    <div class="popup-bg"></div>
    <article class="popup popup-soldout">
        <div class="popup-header flexbox">
            <h2>알림</h2>
            <button class="close">
                <img src="./assets/icon24/close.png" alt="닫기" />
            </button>
        </div>
        <div class="popup-body">
            <p>이미 마감이 설정되어 있는 날짜 입니다.
              마감을 해제하시겠습니까?</p>
        </div>
        <div class="popup-footer flex-btns">
          <button class="cancel-btn">취소</button>
          <button class="confirm btn btn--primary">마감해제</button>
        </div>
    </article>
    <article class="popup popup-set">
        <div class="popup-header flexbox">
            <h2>알림</h2>
            <button class="close">
                <img src="./assets/icon24/close.png" alt="닫기" />
            </button>
        </div>
        <div class="popup-body">
            <p>해당날짜로 마감을 설정하시겠습니까?</p>
        </div>
        <div class="popup-footer flex-btns flexbox">
          <button class="cancel-btn">취소</button>
          <button class="confirm btn btn--primary">마감설정</button>
        </div>
    </article>

    <article class="popup">
        <div class="popup-header flexbox">
            <h2>알림</h2>
            <button>
                <img src="./assets/icon24/close.png" alt="닫기" />
            </button>
        </div>
        <div class="popup-body">
            <p>마감권을 모두 소진하여서<br>마감설정이 불가능합니다.</p>
        </div>
        <div class="popup-footer">
          <button class="confirm btn btn--primary">확인</button>
        </div>
    </article>

    <article class="popup">
        <div class="popup-header flexbox">
            <h2>알림</h2>
            <button>
                <img src="./assets/icon24/close.png" alt="닫기" />
            </button>
        </div>
        <div class="popup-body">
            <p>2개 이상의 오더를 받아야만<br>마감설정이 가능합니다.</p>
        </div>
        <div class="popup-footer">
          <button class="confirm btn btn--primary">확인</button>
        </div>
    </article>
  </div>
</body>
</html>