@import url('https://webfontworld.github.io/score/SCoreDream.css');
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');
@import url(./var.css);
@import url(./common.css);

.content-container__content.target {
  min-height: auto!important;
  max-height: 100%!important;
}

.date-container {
  padding-bottom: 100px;
}

.day-list li .day-num {
  border-top: 1px solid #bbb;
  background-color: var(--gray100);
  font-size: 13px;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  font-family: 'S-Core Dream 5';
}
.date-list-box li:not(:last-of-type) {
  border-bottom: 1px solid var(--border01);
}
.date-list-box li {
  padding: 14px;
  line-height: 1.5;
}
.date-list-box li a {}
.date-list-box li a .list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.list-bottom span {
  position: relative;
  font-size: 11px;
  padding-right: 6px;
}
.list-bottom span:nth-of-type(2) {
  background-color: transparent;
  font-family: 'S-Core Dream 5';
}
.list-bottom span.tel {
  color: #333;
}
.list-bottom span:nth-of-type(2)::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 10px;
  background: var(--gray400);
  top: 50%;
  transform: translateY(-50%);
}
.list-bottom span.visit {
  color: #CB2E66;
}
.list-bottom span.move {
  color: #4274D4;
}
.list-bottom span.re {
  color: #2CC082;;
}

.sd-count-box {
  padding-top: 86px;
  text-align: center;
  
}
.sd-count-box .inner > div {
  padding: 20px;
  background-color: var(--gray100);
  border-radius: 7px;
}
.sd-count-box h3 {
  font-size: 14px;
  font-family: 'S-Core Dream 6';
}
.sd-count-box h3 strong {
  color: var(--negative);
}
.sd-count-box .inner > div p {
  font-size: 13px;
  margin-top: 10px;
  line-height: 1.5;
  color: var(--gray400);
}

/* 마감해제 */
.flex-btns {
  display: flex;
  align-items: center;
  gap: 12px;
}
.flex-btns button {
  width: 50%;
}
.flex-btns .cancel-btn {
  border: 1px solid var(--border01);
  height: 38px;
  border-radius: 7px;
  line-height: 38px;
}
.day-btm li.old-day > span:first-of-type,
.day-btm li.soldout--li > span:first-of-type {
    color: var(--gray300);
}

.badge-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3px;
  margin-top: 5px;
  user-select: none;
}
.badge-container .badge {
  display: inline-block;
  border-radius: 999px;
  color: var(--white, #fff);
  font-size: 12px;
  font-weight: 300;
  padding: 3px;
}
.badge--black {
  background-color: var(--gray500, #333);
}
.badge--red {
  background-color: #CB2E66;
}
.badge--blue {
  background-color: #4274D4;
}
.badge--green {
  background-color: #2CC082;
}

/* lite picker */
.litepicker {
  font-size: 14px !important;
}
.litepicker .container__months .month-item-header {
  display: flex;
  justify-content: center;
  font-family: 'S-Core Dream 5';
}
.litepicker .container__months .month-item-header div {
  max-width: min-content;
}
.litepicker .container__months .month-item:first-child .button-previous-month{
  margin-right: 20px;
  margin-bottom: 0;
}
.litepicker .container__months .month-item:last-child .button-next-month {
  margin-left: 20px;
  margin-bottom: 0;
}
.litepicker .container__months .month-item-header div {
  display: flex;
  max-width: fit-content;
  flex-direction: row-reverse;
  column-gap: 0.125em;
}
.litepicker .container__months .month-item-header div>.month-item-name {
  margin-right: 0;
}
.litepicker .container__months .month-item-header div>.month-item-name,
.litepicker .container__months .month-item-header div>.month-item-year {
  width: max-content;
}
.litepicker .container__months .month-item-header div>.month-item-year::after {
  content: '년';
}
.litepicker .container__months .month-item-weekdays-row {
  height: 35px;
  min-height: 35px;
  border-top: 1px solid #BBB;
  font-family: 'S-Core Dream 5';
  background-color: var(--gray100);
  color: inherit;
}
.litepicker .container__months .month-item-weekdays-row>div {
  display: grid;
  place-items: center;
  font-size: inherit;
}
.litepicker .container__days .day-item {
  font-size: inherit;
  min-height: 50px;
  align-items: flex-start;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}
.litepicker .container__days .day-item.is-start-date,
.litepicker .container__days .day-item.is-end-date {
  background-color: rgba(0, 168, 176, 0.07);
  color: #333;
}
.litepicker .container__days .day-item.is-in-range {
  background-color: #F6FEFE;
}
.litepicker .container__days .day-item.is-pre,
.litepicker .container__days .day-item.is-post {
  font-weight: 300;
  color: var(--litepicker-is-locked-color);
}
.litepicker .container__days .day-item.is-pre.is-start-date,
.litepicker .container__days .day-item.is-post.is-end-date {
  color: #333;
}
.litepicker .container__days .day-item.is-pre:hover,
.litepicker .container__days .day-item.is-post:hover {
  font-weight: inherit;
}
.dateArea input {
  box-sizing: border-box;
  padding: 0 12px;
}
.litepicker .container__days .day-item.is-today {
  color: var(--primary);
}
.litepicker .container__months .month-item {
  width: 100%;
}
/* width 관련 */
.litepicker,
.litepicker .container__main,
.litepicker .container__months {
  width: 100%;
  box-shadow: none!important;
}
.litepicker .container__days .day-item {
  width: calc(100% / 7);
}
.litepicker .container__months .month-item-header .button-next-month>svg {
  height: 0;
}
.litepicker .container__months .month-item-header .button-next-month::after {
  content: '';
  display: inline-block;
  background: url(../static/date-arrow-right.png)no-repeat center/18px auto;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.litepicker .container__months .month-item-header .button-previous-month>svg {
  height: 0;
}
.litepicker .container__months .month-item-header .button-previous-month::after {
  content: '';
  background: url(../static/date-arrow-left.png)no-repeat center/18px auto;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
.litepicker .container__days .day-item.is-start-date.is-end-date {
  border-radius: 0;
}