@import url(./var.css);
@import url(./common.css);

.move-set {
    padding: 86px 0 34px;
}
.input-box .addr-input {
    position: relative;
    margin-bottom: 12px;
}
.input-box .addr-input input {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 48px;
    border: 0;
    background-color: transparent;
    text-align: left;
    padding: 0 90px 0 20px;
    box-sizing: border-box;
}
.input-box input[id="addr"] {
    margin-bottom: 12px;
}
.input-box .addr-input a.btn--regist {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    line-height: 38px;
    width: 60px;
    font-size: 12px;
    text-align: center;
}
.input-box .addr-input {
    background-color: var(--gray100);
}
.select-chk {
    flex-wrap: wrap;
    gap: 16px;
}
.select-chk > div {
    width: calc(50% - 16px);
}

.select-chk input + label {
  display: inline;
}
.input-box {
    position: relative;
}
.input-box .down-btn {
    position: absolute;
    width: 60px;
    height: 38px;
    border: 1px solid var(--border01);
    color: var(--gray400);
    background-color: var(--gray200);
    font-size: 12px;
    text-align: center;
    line-height: 38px;
    bottom: 5px;
    right: 14px;
}
input[type="file"] {
    line-height: 50px;
}

input[id="agree"] + label {
    margin-top: 20px;
    font-weight: 300;
}

.m-set {
    padding: 25px 0 36px;
     justify-content: space-between;
     align-items: flex-start;
}
.m-set h3 {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}
.m-set .cus-tel {
    font-size: 15px;
    font-weight: 600;
    color: var(--primary);
}
.m-set .desc {
    margin-top: 12px;
    display: block;
    line-height: 1.5;
    color: var(--gray400);
    font-size: 11px;
}
.m-set a.btn {
    background-color: var(--gray300);
    width: 117px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 13px;
}
.m-set a.btn::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url(../static/call.png)no-repeat center/15px auto;
    vertical-align: middle;
    margin-right: 4px;
}

input[type="file"] {
    line-height: 48px;
}

.filebox {
    position: relative;
}
.filebox input[id="entLicense"],
.filebox input[id="license"] {
    display: none;
}
.filebox input[id="entLicense"] + label,
.filebox input[id="license"] + label {
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 6px;
    top: 25%;
    width: 60px;
    height: 38px;
    margin: 0;
}
.filebox input[id="entLicense"] + label a,
.filebox input[id="license"] + label a {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    background-color: #EEE;
    border: var(--border01);
    display: block;
    text-align: center;
    line-height: 38px;
    border-radius: 7px;
}
.filebox input[id="entLicense"] + label {
    top: 39%;
}

.regist-form {
    margin-top: 16px;
    padding-bottom: 34px;
}
.regist-form .regist-desc {
    text-align: center;
    margin-bottom: 27px;
    line-height: 1.6;
    font-size: 14px;
}
.input-box .addr-input {
    position: relative;
    margin-bottom: 12px;
}
.input-box .addr-input input {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 48px;
    border: 0;
    background-color: transparent;
    text-align: left;
    padding: 0 90px 0 20px;
    box-sizing: border-box;
}
.input-box input[id="sample2_address"],
.input-box input[id="sample2_detailAddress"] {
    margin-bottom: 12px;
}
.input-box .addr-input .btn--regist {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    line-height: 38px;
    width: 68px;
    font-size: 12px;
    text-align: center;
}
.input-box .addr-input {
    background-color: var(--gray100);
}

/* SELECT CHK */
.select-chk {
    flex-wrap: wrap;
    gap: 16px;
}
.select-chk > div {
    width: calc(50% - 16px);
}

.select-chk input + label {
    display: inline-block;
}

input[type="file"] {
    line-height: 48px;
}
input[id="agree"] + label {
    margin: 24px 0 34px;
    font-weight: 300;
    font-size: 14px;
}
input[id="agree"] + label span {
    color: var(--primary);
}

.filebox {
    position: relative;
}
.filebox input[id="entLicense"],
.filebox input[id="license"] {
    display: none;
}
.filebox input[id="entLicense"] + label,
.filebox input[id="license"] + label {
    width: 60px;
    height: 38px;
    font-size: 11px;
    background-color: #EEE;
    border: var(--border01);
    display: block;
    text-align: center;
    line-height: 38px;
    border-radius: 7px;
    position: absolute;
    right: 6px;
    top: 25%;
}
.filebox input[id="entLicense"] + label {
    top: 39%;
}
span.desc {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: var(--gray400);
    line-height: 1.5;
}

/* 주소찾기 관련 */
#findAddress > img {
    width: auto;
    height: auto;
}
#addr2 {
    margin-bottom: 12px;
}
#layer img {
    width: 24px;
    height: 24px;
}
#layer .layer-header {
    position: relative;
    height: 56px;
    line-height: 56px;
    background: #fff;
}
#layer .layer-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#layer .layer-header img {
    position: absolute;
    right: 16px!important;
    top: 50%!important;
    transform: translateY(-50%);
}
.regi-popup {
    min-height: auto!important;
}
.popup {
    min-height: 400px;
}
.popup #__daum__layer_1 {
    position: initial !important;
}
.popup-address .popup-title {
    justify-content: space-between;
    margin-bottom: 10px;
}
.popup-address .popup-title h3 {
    font-weight: 700;
}
button.close {
    text-indent: -99999px;
    background: url(../static/ico-clear.png)no-repeat center/17px auto;
    width: 17px;
    height: 17px;
}
#findAddress iframe {
    position: relative !important;
    min-width: auto !important;
    width: calc(320px - 48px) !important;
    min-height: calc(400px - 48px) !important;
}
.addr-top {
    position: relative;
    margin-bottom: 12px;
}
.post-code-input {}
.post-btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    line-height: 36px;
    width: 60px;
    font-size: 12px;
    text-align: center;
    border: 0;
    font-family: 'SCoreDream', sans-serif;
}
#layer {
    z-index: 10!important;
}