@import url(./var.css);
@import url(./common.css);

.order-container {
    padding-bottom: 100px;
}
.h56 {
    padding-top: 56px!important;
}
.order-top {
    padding: 20px 0;
}
.order-top-accrue {
    padding: 16px;
    border: 1px solid var(--border01);
    background-color: var(--gray100);
    box-sizing: border-box;
    border-radius: 7px;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 10px;
}
.order-top-accrue h2 {
    font-size: 15px;
}
.order-top-accrue .acc-num {
    color: var(--primary);
    flex: 1;
    text-align: right;
}
.order-top-accrue h2::before {
    content: '';
    margin-right: 4px;
    background: url(../static/ico_graph.png)no-repeat center/21px auto;
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.order-top-accrue .acc-num::after {
    content: '건';
    color: var(--black);
    margin-left: 2px;
}

/* 현재포인트 */
.point-container {
    position: relative;
}
.order-top-point {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    border-radius: 7px;
    border: 1px solid var(--primary);
    background-color: #F6FEFE;
    font-weight: 600;
    margin-bottom: 14px;
}
.order-top-point h2 {
    font-size: 15px;
    margin-right: 12px;
}
.order-top-point img {
    width: 21px;
    height: 21px;
    margin-bottom: 4px;
}
.order-top-point .point-num {
    color: var(--primary);
    font-size: 15px;
    margin-bottom: 5px;
}
.order-top-point .point-num::after {
    content: 'P';
    color: var(--black);
    margin-left: 4px;
}
.order-top-point h2:before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 21px;
    height: 21px;
    background: url(../static/point.png)no-repeat center/21px auto;
    vertical-align: text-top;
    margin-bottom: 4px;
}
.order-top-point .nega {
    color: var(--negative);
}
.order-top-point .nega-msg {
    color: var(--negative);
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 300;
}
.order-top-point a.btn {
    margin-top: 14px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
}
.order-charge {
    position: absolute;
    top: 40px;
    right: 0;
}

/* 이사별 오더 수수료 */
.order-charge {
    display: none;
    width: 312px;
    height: 110px;
    border: 1px solid var(--border01);
    background-color: var(--white);
    border-radius: 7px;
    overflow: hidden;
}
.order-charge.view {
    display: block;
}
.order-charge h2 {
    font-weight: 300;
    text-align: center;
    height: 48px;
    line-height: 48px;
    background-color: var(--gray100);
    font-size: 12px;
}
.order-charge h2 b {
    font-weight: 600;
    color: var(--primary);
}
.order-charge--list {
    font-size: 12px;
    padding: 12px 20px 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.order-charge--list dl {
    display: flex;
}
.order-charge--list dl:nth-of-type(1),
.order-charge--list dl:nth-of-type(3) {
    flex: 0 0 60%;
}
.order-charge--list dl:nth-of-type(1),
.order-charge--list dl:nth-of-type(2) {
    margin-bottom: 10px;
}
.order-charge--list dl dt {
    font-weight: 300;
    margin-right: 6px;
}
.order-charge--list dl dd {
    font-weight: 600;
}
.order-charge--list dl dd::after {
    content: '원';
}

/* SEARCH INPUT */
.search-input {
    position: relative;
    height: 50px;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 20px;
}
.search-input input {
    padding: 0 50px 0 14px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
}
.search-input button {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -99999px;
    background: url(../static/search.png)no-repeat center/22px auto;
    width: 22px;
    height: 22px;
}
.est-filter-btn {
    padding-bottom: 8px;
}
.est-filter-btn .inner {
    gap: 2%;
    justify-content: center;
}
.est-filter-btn button {
    position: relative;
    width: 32.33%;
    height: 38px;
    border: 1px solid var(--border01);
    background-color: var(--gray100);
    border-radius: 7px;
    font-size: 14px;
    color: var(--gray600);
    padding-right: 10px;
    box-sizing: border-box;
}
.est-filter-btn button::after {
    content: '';
    margin-left: 4px;
    position: absolute;
    background: url(../static/md-arrow.png)no-repeat center/10px auto;
    width: 10px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.est--list .est--list-top {
    border-top: 1px solid var(--border01);
    padding: 20px 0 25px;
    justify-content: space-between;
}
.est--list-top h2 {
    font-size: 14px;
    font-weight: 500;
}
.est--list-top h2::after {
    display: inline-block;
    content: '';
    margin-left: 8px;
    background: url(../static/md-arrow.png)no-repeat center/10px auto;
    width: 10px;
    height: 10px;
}
.est--list-top button {
    border: 1px solid var(--gray500);
    color: var(--gray500);
    font-size: 13px;
    width: 46px;
    height: 26px;
    border-radius: 5px;
}
.est-count {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}
.est-count strong {
    font-weight: 600;
    color: var(--primary);
}
.est-box .inner {
    padding-top: 20px;
}
.est-box li {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid var(--border01);
    border-radius: 7px;
}
.est-box li.est-none {
    border: 0;
    text-align: center;
    min-height: 100px;
    padding-top: 10vh;
}
.est-box li.default-color {
    border-color: (--border01);
}
.est-box li.orange-color {
    border-color: #EFA83E;
}
.est-box li.gray-color {
    border-color: gray;
}
.est-box li.red-color {
    border-color: red;
}
.est-box li.blue-color {
    border-color: blue;
}
.est-box li.green-color {
    border-color: green;
}
.est-box li.brown-color {
    border-color: brown;
}
.est-box li.black-color {
    border-color: black;
}
.est-box li .est-box-top {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border01);
}
.est-box.old-order {
    position: relative;
}
.est-box.old-order .dum {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background: rgba(0,0,0,.3);
    z-index: 7;
    border-radius: 7px;
}
.est-box.old-order .dum span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--white);
    text-align: center;
    line-height: 1.5;
    width: 100%;
    font-weight: 700;
}
.est-box .dum {
    display: none;
}

.est-box-top .box-top {
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.est-box-top .box-top img {
    width: 13px;
    flex: 0 0 13px;
}
.est-box-top .box-top span {
    display: block;
}
.order-num {
    color: var(--gray300);
    font-size: 11px;
    margin-bottom: 4px;
}
.order-date {
    font-size: 14px;
    margin-bottom: 10px;
}

.est-box-state {
    justify-content: space-between;
}
.est-box-state > div span {
    display: inline-block;
    font-weight: 600;
    color: var(--gray300);
    margin-right: 8px;
}
.est-box-state > div button {
    width: 64px;
    height: 26px;
    font-size: 13px;
}
.matching-num {
    font-weight: 400;
}
.matching-num strong {
    font-weight: 600;
    color: var(--primary);
}
.est-box-bottom {
    padding: 22px 0;
}
.est-box-bottom dl.align {
    align-items: center;
}
.est-box-bottom dl {
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 22px;
}
.est-box-bottom dl dt {
    font-weight: 300;
    flex: 0 0 26%;
    line-height: 1.5;
}
.est-box-bottom dl dd {
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    flex: 1;
    justify-content: flex-end;
    display: flex;
}
.est-box-bottom .est-btns {
    justify-content: space-between;
    margin-bottom: 22px;
}
.est-box-bottom .est-btns a {
    width: 48%;
    height: 38px;
    font-size: 13px;
    line-height: 38px;
    text-align: center;
}
.est-box-bottom .est-btns a:first-of-type {
    background: var(--gray500);
    margin-right: 2%;
}
.est-btns a::before {
    content: '';
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.est-btns a:first-of-type::before {
    background: url(../static/call-w.png)no-repeat center/22px auto;
    vertical-align: middle;
}
.est-box-bottom .est-btns a:last-of-type {
    border: 1px solid var(--border01);
    color: var(--black);
}
.est-btns a:last-of-type::before {
    background: url(../static/talk.png)no-repeat center/22px auto;
    vertical-align: middle;
}
.est-input {
    position: relative;
    height: 38px;
    padding: 0;
}
.est-input input {
    border: 0;
    width: 100%;
    height: 38px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0 60px 0 10px;
}
.est-input button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #315F89;
    color: #fff;
    width: 36px;
    height: 28px;
    font-size: 10px;
    border-radius: 4px;
}
.color-view {
    flex: 0 0 22px;
    display: block;
    margin-right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary);
}
.default-color .color-view {
    background-color: var(--primary);
}
.orange-color .color-view {
    background-color: orange;
}

dl .select-btn {
    border: 1px solid var(--border01);
    background-color: var(--gray200);
    color: var(--gray300);
    height: 38px;
    font-size: 13px;
    font-weight: 500;
    flex: 0 0 69px;
}
.btn--bottom {
    font-size: 13px;
}
.btn--bottom button {
    font-size: inherit;
    width: 50%;
    height: 38px;
    border-top: 1px solid var(--border01);
    border-right: 1px solid var(--border01);
}
.btn--bottom button:first-of-type {
    color: var(--primary);
}
.btn--bottom a {}
.btn--bottom a {
    font-size: inherit;
    width: 50%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-top: 1px solid var(--border01);
    box-sizing: border-box;
    background-color: var(--gray100);
}

/* POPUP */
.charge-select,
.article-select {
    padding: 28px 20px!important;
    border-radius: 28px 28px 0 0;
    background-color: var(--gray100);
}
.charge-select .popup-title,
.article-select .popup-title {
    justify-content: space-between;
    margin-bottom: 28px;
}
.charge-select .popup-title h3,
.article-select .popup-title h3 {
    font-size: 14px;
    font-weight: 600;
}
.charge-select > div:nth-of-type(2),
.article-select > div:nth-of-type(2) {
    margin-bottom: 24px;
}
.charge-select input[type="radio"] + label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.charge-select input[type="radio"] + label span {}
.charge-select input[type="radio"] + label button.del-btn {
    color: var(--primary);
    font-size: 13px;
    border: 1px solid #DDD;
    background-color: var(--white);
    border-radius: 4px;
    padding: 4px 6px;
}
.charge-select input[type="radio"] + label::before,
.article-select input[type="radio"] + label::before,
.charge-select input[type="radio"] + label::after,
.article-select input[type="radio"] + label::after {
    display: none;
}
.article-select input[type="radio"]:checked + label {
    color: var(--primary);
    font-weight: 600;
}

.popup-inform .pƒopup-header {
    justify-content: space-between;
}
.popup-inform .popup-header h3 {
    font-size: 16px;
    font-weight: 700;
}
button.close {
    text-indent: -99999px;
    background: url(../static/ico-clear.png)no-repeat center/17px auto;
    width: 17px;
    height: 17px;
}
.popup-inform .popup-body {
    padding: 15px 0 35px;
}
.popup-inform .popup-body p {
    font-size: 14px;
    color: var(--gray400);
    text-align: left;
    margin-bottom: 14px;
    line-height: 1.5;
}
.popup-inform .popup-body .body-box {
    border: var(--border01);
    background-color: var(--gray100);
    border-radius: 7px;
    padding: 16px;
}
.popup-inform .popup-body .body-box h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}
.popup-inform .popup-body .body-box p {
    font-size: 14px;
    color: var(--gray500);
}
.body-box dl {
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
}
.body-box dl dt::before {
    content: '';
    margin-right: 8px;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: var(--gray500);
}
.body-box dl dd {
    flex: 1;
}
.popup-inform .popup-footer {}
.popup-inform .popup-footer button:first-of-type {
    border: 1px solid var(--border01);
    color: var(--primary);
    margin-right: 12px;
}
.popup-inform .popup-footer button {
    height: 38px;
    font-size: 13px;
}
.popup-calendar .popup-title {
    justify-content: space-between;
    margin-bottom: 10px;
}
.popup-calendar .popup-title h3 {
    font-size: 15px;
    font-weight: 700;
}
.popup-calendar .popup-title .close {
    width: 17px;
    height: 17px;
}
.popup-calendar .popup-footer {
    gap: 12px;
    margin-top: 34px;
}
.popup-calendar .popup-footer button {
    width: 50%;
    height: 38px;
    border-radius: 7px;
}
.popup-calendar .popup-footer button:first-of-type {
    border: 1px solid var(--border01);
    color: var(--primary);
}
.popup-calendar .popup-footer button:nth-of-type(2) {
    background-color: var(--primary);
    color: var(--white);
}

.dateArea {
    margin-bottom: 20px;
    padding-top: 10px;
}
.dateArea input {
    width: 50%;
    height: 38px;
    border-radius: 7px;
    border: 1px solid var(--border01);
}
.dateArea span.rentPeriod {
    margin: 0 10px;
}


.cal_top{
    text-align:center;
    font-size:14px;
    height:38px;
    line-height: 34px;
    color:#202020;
    background: #fff;
    border-top: 1px solid #eee;
}
.cal_top #movePrevMonth,
.cal_top #moveNextMonth {
	display: inline-block;
	margin: 0 12px;
	width: 24px;
	height: 24px;
}
.cal_top #movePrevMonth span {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../static/date-arrow-left.png)no-repeat center/24px auto;
}

.cal_top #moveNextMonth span {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../static/date-arrow-right.png)no-repeat center/24px auto;
}

.cal_top span{
	position: relative;
	padding: 0;
	cursor: pointer;
	color:#202020;
	vertical-align: middle
}
#cal_top_year::after {
	content: '년'
}
#cal_top_month::after {
	content: '월'
}
.cal_top .material-icons {
    line-height: 36px!important;
}
.calendar {
    background: #fff;
}
.calendar th:not(:last-of-type){
    border-right: 0
}
.calendar th{
	padding: 4px 0;
    height: 35px;
    line-height: 35px;
    text-align:center;
    border:none;
    font-size: 13px;
    color:#000000;
    background: var(--gray100);
    border-top: 1px solid #BBB;
    border-bottom: 0;
    font-weight: 500;
}

.calendar .calcTd{
	width: calc(100% / 7);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    height: 50px;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
    border-bottom: 1px solid #DDD
}
.calendar .calcTd:not(:nth-of-type(7n)) {
    border-right: 0;
}
.calendar .calcTd > div.cal-day {height: 100%;}
.calendar .calcTd > div.cal-day a {display: block; height: 100%;}